h1,
p {
    color: black;
    font-family: Arial, sans-serif;
}
body {
    background-color: white;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.container {
    background-color: violet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 60vw;
}
.header{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}